div {
  display: grid;
  grid-template-columns: 50% 50%;
}

p {
  padding: 20px;
  width: 140px;
  text-align: center;
}

.dotted {
  border-style: dotted;
}

.dashed {
  border-style: dashed;
}

.solid {
  border-style: solid;
}

.double {
  border-style: double;
}

.groove {
  border-style: groove;
}

.ridge {
  border-style: ridge;
}

.inset {
  border-style: inset;
}

.outset {
  border-style: outset;
}

.none {
  border-style: none;
}

.hidden {
  border-style: hidden;
}
